.cow-shed {
  position: absolute;
  padding: 6px;
  border-radius: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  .cow-wrapper {
    position: relative;
    width: 98vw;
    // height: 35vh;
    background-image: url('../../assets/object/cow_shed_top.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    .cow-shed-bot {
      width: 600px;
      // height: 100%;
      z-index: 5;
    }
    .cow {
      width: 20vw;
      position: absolute;
      z-index: 3;
      &.cow-1 {
        top: 18%;
        left: 36%;
      }

      &.cow-2 {
        top: 27%;
        left: 46%;
      }

      &.cow-3 {
        top: 35%;
        left: 58%;
      }

      &.cow-4 {
        top: 30%;
        left: 16%;
      }

      &.cow-5 {
        top: 38%;
        left: 28%;
      }

      &.cow-6 {
        top: 50%;
        left: 38%;
      }

      &.cow-g-1 {
        top: 35%;
        left: 35%;
      }
      &.cow-g-2-1 {
        top: 30%;
        left: 22%;
      }
      &.cow-g-2-2 {
        top: 35%;
        left: 45%;
      }
      &.cow-g-3-1 {
        top: 30%;
        left: 22%;
      }
      &.cow-g-3-2 {
        top: 35%;
        left: 45%;
      }
      &.cow-g-3-3 {
        top: 45%;
        left: 30%;
      }
      &.cow-g-4-1 {
        top: 30%;
        left: 17%;
      }
      &.cow-g-4-2 {
        top: 35%;
        left: 55%;
      }
      &.cow-g-4-3 {
        top: 45%;
        left: 35%;
      }
      &.cow-g-4-4 {
        top: 25%;
        left: 35%;
      }
      &.cow-g-5-1 {
        top: 30%;
        left: 17%;
      }
      &.cow-g-5-2 {
        top: 35%;
        left: 55%;
      }
      &.cow-g-5-3 {
        top: 50%;
        left: 35%;
      }
      &.cow-g-5-4 {
        top: 18%;
        left: 35%;
      }
      &.cow-g-5-5 {
        top: 33%;
        left: 35%;
      }
    }

    .progress-wrapper {
      position: absolute;
      bottom: 20%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 30%;
      z-index: 10;
    }
    .claim-wrapper {
      position: absolute;
      bottom: 2%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 30%;
      z-index: 10;
    }
  }
}
