.house-container {
  position: absolute;
  top: 8vh;
  left: 1vw;
  width: 75vw;
  height: auto;
  .house {
    width: 40vw;
    height: auto;
  }

  .knight {
    position: absolute;
    bottom: 5%;
    left: 30%;
    width: 7%;
    transform: scaleX(-1);
  }
  .guard-container {
    position: absolute;
    top: 20%;
    right: -30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25vw;
    .guard {
      width: 15vw;
    }
  }
}
