.house-container {
  position: absolute;
  top: 7vh;
  left: 3vw;
  width: 75vw;
  height: auto;
  .house {
    width: 35vw;
    height: auto;
  }

  .knight {
    position: absolute;
    bottom: -25%;
    left: 35%;
    width: 7%;
    transform: scaleX(-1);
  }
  .guard-container {
    position: absolute;
    top: 20%;
    right: -30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25vw;
    .guard {
      width: 15vw;
    }
  }
}
