.farm-grid {
  width: 35vw;
  height: 35vw;
  position: absolute;
  top: 30vh;
  left: 35vw;
  transform: rotate(45deg);
  .tile {
    width: 60%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    .land-plot {
      transform: rotate(-45deg);
      width: 100%;
      z-index: 2;
    }
    .plant {
      position: absolute;
      z-index: 3;
      width: 80%;
      transform: rotate(-45deg);
      top: -12%;
      left: 0%;
    }
  }

  .tile:nth-child(1) {
    top: 10%;
    left: 5%;
  }
  .tile:nth-child(2) {
    top: 0%;
    left: 44%;
  }
  .tile:nth-child(3) {
    top: 40%;
    left: 36%;
  }
  .tile:nth-child(4) {
    top: 49%;
    left: -4%;
  }
}
