.farm-grid {
  width: 20vw;
  height: 20vw;
  position: absolute;
  top: 32vh;
  left: 37vw;
  transform: rotate(45deg);
  .tile {
    width: 100%;
    // height: 50%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    .land-plot {
      transform: rotate(-45deg);
      width: 100%;
      // height: 60%;
      z-index: 2;
    }
    .plant {
      position: absolute;
      z-index: 3;
      width: 80%;
      transform: rotate(-45deg);
      top: -10%;
      left: 0%;
    }
  }

  .tile:nth-child(1) {
    top: 0;
    left: 0;
  }
  .tile:nth-child(2) {
    top: -15%;
    left: 62%;
  }
  .tile:nth-child(3) {
    top: 48%;
    left: 48%;
  }
  .tile:nth-child(4) {
    top: 60%;
    left: -13%;
  }
}
